<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=chunk%></title>
    <% include ../../components/meta.ejs %>
  </head>
  <body>
    <% include ../../components/header.ejs %>
    <div>好的！！</div>
    <% include ../../components/footer.ejs %>
  </body>
</html>
